{% block title %}Login{% endblock %}
{% block body %}
<form action="/action_page.php" style="border:1px solid #ccc">
    <div class="container">
      <h1>Log In to Proceed</h1>
            <hr>
  
      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
 
      <div class="clearfix">
    </br>
        <button type="submit" class="signupbtn">Log In</button>
      
    
</div>
    </div>
  </form>
{% endblock %}